body {
    color: black; /* Màu văn bản đen hoặc màu văn bản bạn muốn */
    font-family: Arial, sans-serif;
    
}

.header {
    background: linear-gradient(to left, #7436E6, #05BDCD);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.mid-title {
    color: white;
}
.title {
    
    margin: 10px; /* Thêm margin cho toàn bộ .title */
    padding: 10px; /* Thêm padding cho toàn bộ .title */
}
.title b {
    margin: 10px; /* Đặt margin cho thẻ <b> */
    padding: 10px; /* Đặt padding cho thẻ <b> */
    background-color: #05BDCD;
    border-radius: 10px;
    color:white;
}

.infor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main-table {
    width: 100%;
    border-collapse: collapse;
}

.main-table th, .main-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.main-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.main-table input[type="text"] {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

/* Optional: Add some styles for alternating rows */
.main-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.none {
    /* Bỏ hết thuộc tính CSS mặc định của bảng */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    background-color: transparent;
    color: inherit;
    /* ... thêm các thuộc tính khác cần bỏ đi */
}

.none td, .none th {
    /* Bỏ hết thuộc tính CSS mặc định của các ô trong bảng */
    border: none;
    padding: 0;
    text-align: left;
    /* ... thêm các thuộc tính khác cần bỏ đi */
}

.btn {
    margin: 10px;
    background-color: #3498db; /* Màu nền nút */
    color: #fff; /* Màu văn bản trên nút */
    padding: 10px 20px; /* Kích thước nút */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo tròn góc của nút */
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng khi rê chuột vào nút */
}

.btn:hover {
    background-color: #007BFF; /* Màu nền khi rê chuột vào nút */
}

span {
    color: red; /* Màu văn bản trong thẻ <span> */
    font-weight: bold; /* Đậm */
    margin-left: 10px; /* Khoảng cách với nút */
}
footer {
    width: 100%;
    background: linear-gradient(to left, #7436E6, #05BDCD);
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    width: 120px;
    height: 40px;
    border: 0;
}