/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 8, 2023, 6:59:35 PM
    Author     : FPTSHOP
*/

.information{
    color: white;
}
b{
    color: white;
    background: linear-gradient(to bottom, orange,#ff9933);
    border-radius: 5px;
    padding: 3px
}
*{
    margin: 10px;
    font-family: sans-serif;
}
.btn{
    background: linear-gradient(to bottom, white,#E8E3E3);
    margin: unset
}
.header{
    background-color: #ff9933;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff; /* Màu chữ của footer */
    padding: 10px; /* Khoảng cách bên trong footer */
    text-align: center; /* Căn giữa nội dung của footer */
}
.mid-title{
    text-align: center;
}
.tt{
    text-align: center;
    font-size: 15px;
}
.tt th {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 2px;
    text-transform: uppercase;
    height: 23px;
    background-color: #9999ff;
    font-weight: normal;
}
.tt td {
    border-bottom: 1px solid #333;
    border: 1px solid #333;
}
.time-slot{
    background-color: #5cb85c;
    padding: 3px;
    border-radius: 3px;
}