body {
    color: black; /* Màu văn bản đen hoặc màu văn bản bạn muốn */
    font-family: Arial, sans-serif;
    
}

.header {
    background: linear-gradient(to left, #7436E6, #05BDCD);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isAtt{
    color: #2d9627;
    font-weight: bold; 
}
h1 {
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.mid-title {
    color: white;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px; /* Thêm margin cho toàn bộ .title */
    padding: 10px; /* Thêm padding cho toàn bộ .title */
}

 .title b {
    flex: 1;
    margin: 10px; /* Đặt margin cho thẻ <b> */
    padding: 10px; /* Đặt padding cho thẻ <b> */
    background-color: #05BDCD;
    border-radius: 10px;
    color:white;
}

.title a, .title label {
    flex: 0;
    margin: 0; /* Đặt margin cho thẻ <a> và <label> */
    padding: 0; /* Đặt padding cho thẻ <a> và <label> */
    margin-left: 10px; /* Đặt khoảng cách ngang giữa các thẻ <a> và <label> */
}
html, body {
    height: 100%;
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
}
.infor {
    
    width: 30%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.7); /* Sử dụng màu trong suốt với alpha 0.7 */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
/* Định dạng phần biểu mẫu */
center table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

center input[type="submit"] {
    margin: 5px; /* Tạo khoảng cách giữa các phần tử */
    background-color: #CFCFCF;
}
/* Định dạng các nhãn và input */
center input[type="date"] {
    margin: 5px; /* Tạo khoảng cách giữa các phần tử */
    background-color: #FFE4C4;
}
input[type="date"]:hover,
input[type="submit"]:hover {
    background-color: #f0f0f0; /* Thay đổi màu nền */
    color: #333; /* Thay đổi màu văn bản */
    border: 1px solid #ccc; /* Thay đổi viền */
}

/* Định dạng các ô input khi tập trung (focus) */
input[type="date"]:focus,
input[type="submit"]:focus {
    background-color: #fff; /* Thay đổi màu nền */
    color: #000; /* Thay đổi màu văn bản */
    border: 2px solid #007BFF; /* Thay đổi viền */
    outline: none; /* Loại bỏ viền nét đứt mặc định */
}
/* Định dạng các ô input */
center td {
    padding: 5px; /* Tạo khoảng cách trong mỗi ô */
}


/* Style the main table */
.main-table {
    width: 100%;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.7); /* Sử dụng màu trong suốt với alpha 0.7 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 15px auto;
    
}
.main-table thead th {
    text-align: center;
    font-size: 25px;
    padding: 10px;  
    font-family: 'Arial', sans-serif;  
    
}

.main-table td {
    border: 1px solid #9C9C9C;
}

.main-table label {
    font-size: 20px;
}

.report{
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.btn-dark{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
summary{
    color: #000000; 
}

details summary {
    display: inline; /* Đảm bảo summary nằm trên cùng một dòng với mũi tên */
    cursor: pointer; /* Thêm kiểu con trỏ để cho biết có thể nhấn vào summary */
}
.no-underline {
    text-decoration: none;
}



 











footer {
    
    width: 100%;
    background: linear-gradient(to left, #7436E6, #05BDCD);
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    width: 120px;
    height: 40px;
    border: 0;
}
